<%- include("templates/header") %>
    
    <div class="container text-center">
        <p>Invalid email/password combination.</p>
        <button onclick="window.location.href='/login'">Try again</button>
    </div>
<%- include("templates/footer") %>