<%- include("templates/header") %>
    <div class="container">
        <h1>You are logged out.</h1>
        <button onclick="window.location.href='/login'">Click here to log in!</button>
    </div>
<%- include("templates/footer") %>