<%- include("templates/header") %>
    <div class="container">
        <h1>Welcome, <%= user%>!</h1>
        <div class="photo-container">
            <img src="view1.jpg" alt="A nice view.">
            <img src="view2.jpg" alt="A nice view.">
            <img src="view3.jpg" alt="A nice view.">
        </div>
        <br>
        <button onclick="window.location.href='/logout'">Log out</button>
    </div>
<%- include("templates/footer") %>