<%- include("templates/header") %>
    <div class="container">
        <h1>The <%- user.name %>'s role has been changed to <%- user.type %>.</h1>
        <a href="/admin">Go back to admin page</a>
    </div>
<%- include("templates/footer") %>